[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sleuth-client = {editable = true, file = "file:///home/mrdon/dev/sleuth-client"}

[dev-packages]

[requires]
python_version = "3.8"
