[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.4b2"
flake8 = "*"
ipdb = "*"
mypy = "*"
pre-commit = "*"
pylint = "*"
reorder-python-imports = "*"
unittest-xml-reporting = "*"
pyinstaller = "*"

[packages]
gitpython = "*"
requests = "*"

[requires]
python_version = "3.8.9"
